<button id="theme-toggle" type="button">
  <span class="theme-toggle__light active">🌞</span>
  <span class="theme-toggle__dark">🌛</span>
</button>

<style>
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(2.5rem, 3vw + 1rem, 3rem);
    line-height: 1;
    position: absolute;
    right: 2rem;
    top: 1rem;
    width: 3rem;
    z-index: 1;
  }
  button span {
    display: none;
  }
  button span.active {
    display: block;
  }
</style>

<script>
  const toggleId: String = "theme-toggle";
  const toggle: HTMLElement = document.querySelector(`#${toggleId}`)!;

  const storedTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");
  if (storedTheme)
    document.documentElement.setAttribute("data-theme", storedTheme);

  toggle.addEventListener("click", () => {
    let currentTheme = document.documentElement.getAttribute("data-theme");
    let targetTheme = "light";

    if (currentTheme === "light") {
      targetTheme = "dark";
      document.querySelector(`.${toggleId}__dark`)!.classList.remove("active");
      document.querySelector(`.${toggleId}__light`)!.classList.add("active");
    } else {
      targetTheme = "light";
      document.querySelector(`.${toggleId}__light`)!.classList.remove("active");
      document.querySelector(`.${toggleId}__dark`)!.classList.add("active");
    }

    document.documentElement.setAttribute("data-theme", targetTheme);
    localStorage.setItem("theme", targetTheme);
  });
</script>
