---
import TopBar from '../components/TopBar.astro'
import Nav from '../components/Nav.astro'
import '../css/base.css'
import SharePreviewImage from "../images/share-preview.jpg";

export interface Props {
	frontmatter: {
		title: string
		date: string
		caption: string,
		tags: string,
	}
}

const { frontmatter } = Astro.props
const { title, date, caption, tags } = frontmatter
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Basic Meta Tags -->
		<meta name="title" content={title}>
		<meta name="description" content={caption}>
		<meta name="author" content="Adrian S. Haynes">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://adrianshaynes.com/">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={caption}>
		<meta property="og:type" content="article" />
		<meta property="og:image" content={SharePreviewImage?.src}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:locale" content="en_US" />
		<meta property="og:author" content="Adrian S. Haynes">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:url" content="https://adrianshaynes.com/">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={caption}>
		<meta name="twitter:image" content={SharePreviewImage?.src}>

		<!-- Blog article specific -->
		<meta property="article:published_time" content={date} />
		<meta property="article:author" content="Adrian S. Haynes" />
		<meta property="article:section" content="Blog" />
		<meta property="article:tag" content={tags} />
	</head>
	<body>
		<TopBar />
		<Nav />
		<main class="blog-post">
			<h1>{title}</h1>
			<p class="post-date">{date}</p>
			<article>
				<slot />
			</article>
		</main>
		<script>
			import { initializeCodeCopyButtons } from '../lib/copyCode'

			initializeCodeCopyButtons()
		</script>
		<style is:global>
			main.blog-post {
				margin: auto;
				margin-bottom: 8rem;
				max-width: 700px;
				padding-inline: clamp(20px, 5vw, 40px);
				position: relative;
			}

			main.blog-post article {
				margin-top: 4rem;
			}

			main.blog-post h1 {
				margin-bottom: 0rem;
			}

			main.blog-post a {
				color: var(--link-color);
			}

			main.blog-post a:hover {
				color: rgb(var(--accent));
			}

			main.blog-post li:not(.link-card, .review) a:hover {
				text-decoration: underline;
				filter: brightness(80%);
			}

			main.blog-post pre,
			main.blog-post code {
				tab-size: 2;
				-moz-tab-size: 2;
				-o-tab-size: 2;
			}

			main.blog-post pre {
				border: 2px solid var(--text-color);
				margin-block: 3rem;
				padding: 3.5rem 1rem;
			}

			main.blog-post p:has(img) {
				display: block;
				margin-block: 3rem;
			}

			main.blog-post p img {
				display: block;
			}

			main.blog-post p code {
				background-color: #212a2e;
				box-decoration-break: clone;
				-webkit-box-decoration-break: clone;
				color: var(--code-text-color);
				overflow-wrap: break-word;
				padding: 0.15em 0.3em;
			}

			main.blog-post blockquote {
				border-left: 10px solid var(--accent-color-2);
				font-size: .85em;
				margin: 0;
				margin-bottom: 3rem;
				padding-left: 1.5rem;
			}

			main.blog-post .post-date {
				font-size: clamp(14px, 1vw + 0.75rem, 1.25rem);
				margin-top: 0.5rem;
			}

			main.blog-post .code-block-wrapper {
				position: relative;
				font-size: clamp(16px, 1.25vw + 0.5rem, 1.25rem);
			}

			main.blog-post .copy-code-button {
				position: absolute;
				border: 2px solid var(--text-color);
				color: var(--white);
				font-weight: bold;
				cursor: pointer;
				top: 0;
				right: 0;
				background-color: var(--accent-color-2);
				padding: 0.75rem;
				line-height: 1.5;
			}

			main.blog-post .copy-code-button:hover {
				filter: brightness(1.1);
			}
		</style>
	</body>
</html>
